certifi (2018.1.18)
chardet (3.0.4)
Django (2.0.3)
django-fcm (0.1.1)
djangorestframework (3.7.7)
idna (2.6)
pip (9.0.3)
pytz (2018.3)
requests (2.18.4)
setuptools (39.0.1)
urllib3 (1.22)
wheel (0.30.0)
